.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 24.4rem;
  margin: 3.75rem auto;
  padding: 3rem 2rem;

  background-color: white;

  border: 1px solid #d9d9d9;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07),
    0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275),
    0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725),
    0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 157%;

  h2 {
    margin-bottom: 1.5rem;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 140%;

    text-align: center;
    color: #262626;
  }

  form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
  }

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 0.875rem;
    line-height: 157%;
  }

  input {
    width: 100%;
    padding: 0.5rem 0.75rem;

    border: 1px solid #d9d9d9;
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;

    color: #bfbfbf;

    outline-color: #1890ff;
  }

  input[type='submit'] {
    margin-top: 0.5rem;
    background: #1890ff;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
  }

  .redirect {
    margin-top: 0.5rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 167%;

    color: #8c8c8c;
    letter-spacing: 0.05rem;
  }

  .validate-error {
    border: 1px solid red;
  }

  .error-message {
    color: red;
  }
}
